<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <script>
            // const arr = [
            //     {id: 1, Number1: 31},
            //     {id: 2, Number1: 22},
            //     {id: 3, Number1: 42},
            //     {id: 4, Number1: 52},
            //     {id: 5, Number1: 132}
            // ]
            // arr.forEach((value,index,arr) =>{
            //     // value是当前的对象 index是它索引, arr是数组
            //     // console.log(value, index, arr)
            //     // arr[index] = (value.Number1 > 34 ? value : delete value )
            //     if(value.Number1 > 34){
            //         arr[index] = value.Number1 > 34 ? value.Number1 : ''
            //     }
            //   }
            // )
            // console.log(arr, 're')
            // // https://blog.csdn.net/yiyueqinghui/article/details/105832438?utm_term=foreach%E6%BB%A1%E8%B6%B3%E6%9D%A1%E4%BB%B6%E8%B7%B3%E5%87%BA%20vue&utm_medium=distribute.pc_aggpage_search_result.none-task-blog-2~all~sobaiduweb~default-2-105832438&spm=3001.4430
            // const arr1 = [1, 2, 3, 4, 5, 6];
            // console.log(arr1.forEach((value, key, arr) => arr[key] = value * value)); // undefined
            // console.log(arr1); // 1 4 9 16 25 36

            // const arr = [
            //     {id: 1, Number1: 31},
            //     {id: 2, Number1: 22},
            //     {id: 3, Number1: 42},
            //     {id: 4, Number1: 52},
            //     {id: 5, Number1: 132},
            //     {id: 5, Number1: 1332},
            //     {id: 5, Number1: 13320}
            // ]
            // arr.forEach((item, index,arr)=> {
            //     if(item.Number1 > 40){
            //         arr.splice(index,1)
            //     }
            // })
            // console.log(arr,'arr')

            // let log = console.log.bind(console);
            let person = [
                {id: 0, name: "小明"},
                {id: 1, name: "小张"},
                {id: 2, name: "小李"},
                {id: 3, name: "小孙"},
                {id: 1, name: "小周"},
                {id: 2, name: "小陈0"},
                {id: 2, name: "小陈123"},
                {id: 5, name: "小陈qwert"},
                {id: 5, name: "小陈2"},
                {id: 5, name: "小陈3"},
                {id: 5, name: "小陈7"},
            ];

            {0,1,2,3}
            // reduce累加
            let obj = {};
            person2 = person.reduce((cur,item) => {
                obj[item.id] ? '' : obj[item.id] = true && cur.push(item);
                // console.log(obj[item.id], 'obj[item.id] = trueobj[item.id] = true')
                return cur;
            },[]) //设置cur默认类型为数组，并且初始值为空的数组
            console.log(person2, 'wwqw');

            // {   key : value
            //     "1": 32,
            //     "2": 522,
            //     "4": 422
            // }
            const arrObject = [
                {id: 1, name: 22},
                {id: 1, name: 32},
                {id: 4, name: 422},
                {id: 2, name: 522},
                {id: 4, name: 4202},
                {id: 3, name: 2},
            ]
            let objNumber = {};
                arrObject12 = arrObject.reduce((cur,item) => {
                objNumber[item.id] ? '' : objNumber[item.id] = true && cur.push(item);
                // console.log(obj[item.id], 'obj[item.id] = trueobj[item.id] = true')
                return cur;
            },[]) //设置cur默认类型为数组，并且初始值为空的数组
            console.log(arrObject12, 'wwqw');
            // arrObject.map((item) => {
            //     // console.log(item.id)
            //     // arrobj[item.id] = item.name
            //     arrobj[item.id] = item.name  // arrObj.id undefined
            // })
            // console.log(arrobj, 'arrobjarrobj')
            // const newArr = []
            // for(let i in arrobj){
            //     // console.log(i, 'ii', arrobj[i])
            //     newArr.push({
            //         id: i,
            //         name: arrobj[i]
            //     })
            // }
            // console.log(arrobj, 'q3', newArr)

            
        const arr = [100, 200, 20, 30, 50]
        const sumReduce = arr.reduce((checksum,item) => {
              return checksum + item
        },0)
        console.log(sumReduce, 'sumReducesumReduce')

        console.log(console.log(new Set([1,2,3,5,1,2])), 'newSet')

        let list = new Set()
        list.add(1)
        list.add(2).add(2).add(3) // 得到的是一个对象 {1, 2, 3}

        // 删除元素delete
        /*
            删除某个值, 返回一个布尔值,表示删除是否成功
        */
        let listArr = [...new Set([10,20,30,40,10])]
        console.log(listArr, 'listAdd', [...new Set([10,20,10,40,100])])

        const arrObj = {name: 'js', age: 20, Number: 40}
        console.log({name: 1, age: 20, Number: 30, ...arrObj}, 'arrObj')

        const mathArr = [1,2,3,4,5]
        console.log(mathArr, 'mathArr', Math.max(mathArr))
        </script>
</body>
</html>