<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <script>
            window.val = 1;
            var obj = {
                val: 2,
                dbl: function(){
                    this.val *=2;
                    val *=2;
                    console.log(val);
                    console.log(this.val)
                }
            };
            // 下面的输出结果
            obj.dbl()// 2 4
            var func = obj.dbl;
            func()// 8 8
        </script>
</body>
</html>