<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- iframe放在body中 -->
    <iframe name="iframe_a" src="https://www.runoob.com/tags/att-iframe-marginheight.html" width="50%" height="200px"></iframe>
    <script>
        // <iframe src="https://www.runoob.com/tags/att-iframe-marginheight.html" width="50%" height="200px"></iframe>
        console.log(console.log([1,2,3].includes(2), 1000))
    </script>
</body>
</html>